<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>payment</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    
</head>
<body>
    <h1 class="page-header"> buy</h1>
    <div>
        <img src="https://img2.newchic.com/thumb/view/oaupload/newchic/images/5E/54/30912b17-c62d-933b-1dd7-c73b3152cd2b.jpg" alt="">
    </div>
    <div>
        <h3>my clothes</h3>
        <p>please bye this </p>
        <h3>staojvef</h3>
        <ul>
            <li>this fog</li>
            <li>he can o </li>
            <li> hee njjhg</li>
            <!-- "pk_test_cAXaaXXjYxU1O3z7UYR4fzHE" -->
        </ul>
<!---->
    </div>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>